@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Zeitung";
    src: url("/fonts/ZeitungMonoPro.woff") format("woff");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "Gilroy";
    src: url("/fonts/Gilroy.woff") format("woff");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
}
body {
  background-image: linear-gradient(
    to bottom,
    #fcfcfe,
    #f4f4fa,
    #ecedf6,
    #e3e5f2,
    #dadeee,
    #d8dded,
    #d5dbed,
    #d3daec,
    #fcfcfe,
    #fcfcfe,
    #fcfcfe,
    #e5e9f3
  );
}

.bgColor {
  background: linear-gradient(180deg, #fcfcfe 100%, #eff1f6 0%);
}

.divider {
  background: linear-gradient(180deg, #fcfcfe 10%, #cdd5e9 30%);
}

*:focus {
  outline: none;
  caret-color: #0f0518;
}

.circleFilt {
  mix-blend-mode: color-dodge;
}

.rotateCircle {
  mix-blend-mode: overlay;
}

.sectbg {
  background-image: url("../assets/sectbg2.svg");
  border-radius: 50%;
  border: 0px solid rgba(255, 255, 255, 0.5);
}

.sectbgtwo {
  /* background-image: url("../assets/pinkgradient.svg"); */
  background-image: linear-gradient(to right, #ffffff, #8f61be);
  border-radius: 50%;
  box-shadow: rgba(144, 56, 202, 0.56) 0px 22px 70px 4px;
}

.cardshadow {
  box-shadow: 0px 8.91428px 38.6286px rgba(35, 16, 68, 0.04),
    0px 2.6874px 15.7931px rgba(35, 16, 68, 0.0226),
    0px 1.11621px 10.0286px rgba(35, 16, 68, 0.015),
    0px 0.40371px 7.42857px rgba(35, 16, 68, 0.001);
}

.getstarted {
  box-shadow: rgba(144, 56, 202, 0.56) 0px 22px 70px 4px;
}

.boxes::before {
  content: "";
  z-index: -1;
  position: absolute;
  width: 90%;
  height: 35%;
  background: linear-gradient(40deg, #e8c7a3 30%, #b696d9 100%);
  filter: blur(80px);
  opacity: var(0.7);
}
